# run $ pip install -r requirements.txt

opencv-python==4.8.1.78
gradio==4.38.1
ultralytics==8.2.64
deepdiff==7.0.1
langchain-anthropic==0.1.11
langchain-community==0.0.38
langchain-core==0.2.22
langchain==0.2.10
chromadb==0.4.24
openai
